<h1 class="text-success"><%= @flat.name %></h1>

<p><strong>Address:</strong> <%= @flat.address %></p>
<p><strong>Description:</strong> <%= @flat.description %></p>
<p><strong>Guests:</strong> <%= @flat.number_of_guests %></p>
<p><strong>Price per night:</strong> Â£<%= @flat.price_per_night %></p>

<%= link_to "âœï¸ Edit", edit_flat_path(@flat), class: "btn btn-outline-primary" %><br>
<%= link_to "ðŸ—‘ Delete", flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-danger" %><br>
<%= link_to "â† Back to all flats", flats_path, class: "btn btn-outline-warning" %>
